//color
$color_gray_escuro: #3C4B64;
$color_azul: #321FDB;
$color_gray_claro: #8A93A2;
$color_table: #F2F2F3;
$color_gree: #2EB85C;



//imagems
$img_teste: '../img/perfil.png';
$img_mesa: '../img/mesa.png';

