@font-face {
  font-family: Muli;
  src: url(../libs/Muli/Muli-VariableFont_wght.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: blue;
}

body {
  font-family: Muli, sans-serif;
  background-color: #EBEDEF;
}

main .container-sidebar {
  display: flex;
  margin: 50px 20px 20px 20px;
  justify-content: space-between;
}
main .container-sidebar:after {
  content: none;
}
main .container-sidebar .container {
  width: calc(100% - 300px);
  margin: 0;
}
main .container-sidebar .container .box .list-produtos {
  margin-top: 25px;
  border: 1px solid #D8DBE0;
}
main .container-sidebar .container .box .list-produtos li .cat-icon {
  display: flex;
  padding: 0 15px;
  background-color: #D8DBE0;
  height: 60px;
  border-bottom: 1px solid rgba(214, 212, 212, 0.5);
  align-items: center;
}
main .container-sidebar .container .box .list-produtos li .cat-icon .cat {
  color: #3C4B64;
  padding-bottom: 0;
  box-sizing: border-box;
  border: none;
}
main .container-sidebar .container .box .list-produtos li .cat-icon .icon-arrow-down {
  padding: 5px;
  cursor: pointer;
}
main .container-sidebar .container .box .list-produtos li .cat-icon .icon-arrow-down:before {
  color: #868B93;
  font-size: 23px;
}
main .container-sidebar .container .box .list-produtos li ul {
  padding: 20px 15px 0;
  display: none;
}
main .container-sidebar .container .box .list-produtos li ul li {
  display: flex;
  border-bottom: 1px solid #D6D4D4;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
main .container-sidebar .container .box .list-produtos li ul li img {
  width: 130px;
  height: 130px;
  margin-right: 20px;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo {
  width: calc(100% - 150px);
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .top:before {
  content: none;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .top h2 {
  font-size: 25px;
  font-weight: 700;
  color: #4F5D73;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .top h5 {
  font-size: 20px;
  color: #F9B115;
  font-weight: bold;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .bottom p {
  color: #768192;
  font-size: 16px;
  line-height: 23px;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .bottom .botoes {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .bottom .botoes a {
  min-height: 25px;
  background-color: #3399FF;
  border-radius: 3px;
  color: #fff;
  padding: 2px 7px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .bottom .botoes a:first-child {
  margin-right: 20px;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .bottom .botoes a i {
  margin-right: 5px;
}
main .container-sidebar .container .box .list-produtos li ul li .conteudo .bottom .botoes a i:before {
  font-size: 15px;
}
main .container-sidebar .sidebar-prod {
  width: 240px;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 1px rgba(60, 75, 100, 0.2);
}

/*# sourceMappingURL=listar_produtos.css.map */
