body {
    .container {
        width: calc(100% - 40px);
        display: block;
        float: left;
        padding: 25px 20px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 3px 1px rgba(60, 75, 100, 0.2);
        margin: 20px;
        border-top: 3px solid #d2d6de;

        h1 {
            width: 100%;
            padding-bottom: 10px;
            font-size: 18px;
            color: #3C4B64;
            font-weight: 600;
            border-bottom: 1px solid rgba(214, 212, 212, 0.5);
        }

        .box {
            .form {
                margin-top: 25px;
                margin-bottom: 25px;

                .form-row {
                    display: flex;
                    margin-bottom: 25px;

                    .col-in {
                        &:last-child {
                            margin-right: 0;
                        }

                        label {
                            font-size: 14px;
                            line-height: 18px;
                            color: #3C4B64;
                            margin-bottom: 10px;
                        }

                        input, select, textarea {
                            min-height: 35px;
                            border: 1px solid #D8DBE0;
                            border-radius: 5px;
                            padding: 0 10px;
                            font-size: 16px;
                            color: rgba(60, 75, 100, 0.6);
                            line-height: 19px;
                        }

                        input[type="submit"] {
                            width: 155px;
                            min-height: 35px;
                            background-color: $color_gree;
                            color: #fff;
                            font-size: 16px;
                            line-height: 19px;
                            padding: 0 20px;
                            cursor: pointer;
                        }
                    }

                    .col-1 {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin-right: 30px;
                    }

                    .col-2 {
                        width: calc((100% - 30px) / 2);
                        display: flex;
                        flex-direction: column;
                        margin-right: 30px;
                    }

                    .col-3 {
                        width: calc((100% - 60px) / 3);
                        display: flex;
                        flex-direction: column;
                        margin-right: 30px;
                    }
                }
            }

            table {
                width: 100%;
                font-size: 16px;
                letter-spacing: 0.05em;
                color: $color_gray_escuro;

                thead {
                    tr {
                        font-weight: 800;
                        font-size: 18px;
                        letter-spacing: 0.05em;
                        background-color: $color_table;
                    }

                }

                tr {
                    &:nth-child(2n+2) {
                        background-color: $color_table;
                    }
                }

                td {
                    padding: 10px 15px;
                    border: 1px solid #D8DBE0;
                }
            }
        }

        .mesas {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 30px;
            margin-top: 30px;

            a {
                width: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid transparent;

                &:hover {
                    border: 1px solid rgba(214, 212, 212, 0.5);
                }

                h6 {
                    font-size: 15px;
                    line-height: 19px;
                    color: $color_gray_escuro;
                    margin-bottom: 15px;
                }

                .icon {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    //background: url("../img/mesafree.png") center/contain no-repeat;
                }

                .iconbusy {
                    //background: url("../img/mesabusy.png") center/contain no-repeat;
                }
            }
        }
    }
}
