main {
    .container-sidebar {
        display: flex;
        margin: 50px 20px 20px 20px;
        justify-content: space-between;

        &:after {
            content: none;
        }

        .container {
            width: calc(100% - 300px);
            margin: 0;

            .box {

                .itens {
                    padding: 20px 15px 0;
                    display: flex;

                    li {
                        max-width: 150px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 0 15px 20px 0;
                        padding: 10px;
                        box-shadow: rgba(0, 0, 0, 0.15) 0 0 2px;

                        img {
                            width: 100px;
                            height: 100px;
                            align-self: center;
                        }

                        .conteudo {
                            display: flex;
                            flex-direction: column;
                            line-height: 20px;

                            h2 {
                                font-size: 18px;
                                font-weight: 500;
                                color: #4F5D73;
                            }

                            h5 {
                                font-size: 16px;
                                color: #4F5D73;
                                font-weight: 600;
                                margin-top: 5px;
                            }

                            p {
                                color: rgb(140, 140, 140);
                                font-size: 16px;
                                line-height: 23px;
                                word-break: break-word;
                            }


                            .carrinho {
                                width: 80px;
                                min-height: 25px;
                                background-color: #3399FF;
                                border-radius: 3px;
                                color: #fff;
                                padding: 2px 7px;
                                display: flex;
                                align-items: center;
                                font-size: 12px;
                                margin-top: 10px;

                                &:first-child {
                                    margin-right: 20px;
                                }

                                i {
                                    margin-right: 5px;

                                    &:before {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }

        .sidebar-prod {
            width: 240px;
            height: 200px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 3px 1px rgba(60, 75, 100, 0.2);
        }
    }
}
