
.box-login {
    max-width: 380px;
    width: 100%;
    height: 300px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    margin: 150px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;

    form {

        .icon-input {
            display: flex;
            margin-bottom: 15px;

            i {
                background: #f2f3f4;

                &:before {
                    width: 40px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            input {
                width: calc(100% - 40px);
                min-height: 50px;
                padding: 5px 0;
                background: #f2f3f4;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        input#submit {
            width: 100%;
            min-height: 50px;
            background-color: #2EB85C;
            color: #fff;
            padding: 5px 0;
            text-transform: uppercase;
        }
    }
}
