.sidebar {
    width: 220px;
    height: 100vh;
    background-color: $color_gray_escuro;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;

    .logo {
        height: 56px;
        color: #fff;
        display: flex;
        justify-content: center;
        background-color: #367fa9;
        flex-direction: column;
        padding: 10px 15px 10px 20px;

        span {
            font-size: 24px;
            margin-bottom: 3px;
        }

        p {
            font-size: 9px;
        }

    }

    ul {
        color: #fff;
        margin-top: 32px;

        li {
            display: flex;
            align-items: center;
            padding: 13px 20px;

            a {
                width: 100%;
                height: 100%;
                color: #b8c7ce;
                display: flex;
                align-items: center;
            }

            &:hover {
                background-color: #1e282c;
                transition: .2s;

                a,
                a i:before {
                    color: #fff;
                }
            }

            i {
                margin-right: 15px;

                &:before {

                }
            }

            .icon-home:before {
                font-size: 20px;
            }

            .icon-mesa:before {
                font-size: 20px;
            }

            .icon-history {
                font-size: 24px;
            }
        }
    }
}
