#exampleModal {
    display: block;
    padding-right: 12px;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.35);

    .modal-dialog {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);

        .modal-content {
            .modal-header {
                background: #c3f3d7;
                color: #23ad5c;

                &.error {
                    background: #ffe0e3;
                    color: #ff4757;
                }
            }

            .modal-body {
                padding: 1.5rem 1rem;
                line-height: 26px;
            }
        }
    }
}